@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: black;
  line-height: 1.6;
}
#container {
  display: flex;
  margin: 30px auto;
  flex-direction: column;
  width: 60%;
}
.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #add8e6;
  color: black;
  font-weight: bold;
  height: 30px;
  padding-left: 5px;
}
#boxReview {
  display: flex;
  margin: 30px auto;
  flex-direction: column;
  width: 90%;
  border: 1px solid black;
}
.show {
  display: inline;
}
.hide {
  display: none;
}
.maximized {
  width: 96%;
  min-height: 100vh;
  margin: auto;
}
#preview {
  width: 88%;
  margin: auto;
}
img {
  display: block;
  max-width: 90%;
  margin: 2rem auto;
}
textarea {
  min-height: 200px;

  padding: 10px;

  font-size: 0.875rem;
}
